# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python (FastAPI)
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log
.env
venv/
env/

# React & React Native
*.log
.expo/
.expo-shared/
android/.gradle
android/app/build
ios/Pods
ios/Podfile.lock
ios/build
*.iml
.idea/
.DS_Store
coverage/
build/
web-build/
dist/

# VSCode
.vscode/
*.code-workspace

# OS
Thumbs.db
.DS_Store
